
pycache/
*.py[cod]
*.pyo
*.pyd
*.so
 
venv/
env/
.venv/
 
*.sqlite3
db.sqlite3
 
*.log
 
.env
.env.*
!.env.example
 
migrations/pycache/
 
staticfiles/
media/
 

node_modules/
dist/
.angular/
 
*.js.map
 

.idea/
.vscode/
*.iml
 
.DS_Store
Thumbs.db
 